# In image mode, the host root filesystem is mounted at /sysroot, not /
# That is the one we should attempt to resize, not what is mounted at /

growpart:
  mode: auto
  devices: ["/sysroot"]

resize_rootfs: false
