**/.DS_Store
playbooks/config.yaml
**/*.crt
**/*.key
playbooks/ca*
playbooks/client-*

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.d/
**/tfplan
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/crash.log
**/crash.*.log
