#cloud-config
users:
- name: "{{ admin_user }}"
  ssh_authorized_keys:
  - "{{ admin_user_ssh_pubkey }}"
  groups: ["wheel"]
  passwd: "{{ admin_user_password | password_hash('sha512') }}"
  shell: /bin/bash
  sudo: ['ALL=(ALL) NOPASSWD:ALL']

ssh_pwauth: true
chpasswd:
  expire: false
          
runcmd:
- echo "Welcome to bootc on fedora" > /etc/motd
- systemctl enable --now flightctl-agent.service
{% if microshift %}
- firewall-cmd --permanent --zone=trusted --add-source=10.42.0.0/16
- firewall-cmd --permanent --zone=trusted --add-source=169.254.169.1
- firewall-cmd --reload
- systemctl enable --now microshift.service
{% endif %}

write_files:
- path: /etc/flightctl/config.yaml
  permissions: '0755'
  owner: root:root
  content: |
    {{ lookup('file', 'config.yaml') | from_yaml | to_nice_yaml | indent(4) }}
